.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px #e8a87c, 0 3px 6px #e8a87c;
  text-align: center;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

 
}
.btn-edit{
  background-color: #e8a87c !important;
  margin: 10px;
}

.card-title{
 font-weight: bold;
}
.card-text{
  border-radius: 3px;
}
  
