.homeContainer{
    display: flex ;
    justify-content: center ;
    margin: auto;
    margin-top: 20px;
    /* font-weight: bold; */
    background-color: #e27d60;
    margin: 30px;
    border-radius: 10px;
}

img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
}
