h1{
    background-color: #e27d60;
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 10px;
}
body{
    background-color: #41b3a485;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* display: flex;
    justify-content: center; */
}
p{
    background-color: #e8a87c;
}
ul{
    
    background-color: #e8a87c;
}